<footer class="bg-gray-800 flex-center py-4 px-8">
  <div class=" container text-white flex flex-col gap-8 lg:flex-row items-center justify-between">
    <h5 class="text-3xl font-black"><%= t :app %></h5>
    <nav>
      <ul class="font-semibold flex flex-row gap-4">
        <li><%= link_to t('navigation.support'), '#' %></li>
        <li><%= link_to t('navigation.faq'), '#' %></li>
        <li><%= link_to t('navigation.terms_of_use'), '#' %></li>
      </ul>
    </nav>
  </div>
</footer>