<button
  class="absolute right-2.5 top-1/2 -translate-y-1/2"
  type="button"
  data-password-toggle-target="<%= @target %>"
  data-action="click->password-toggle#togglePasswordDisplay"
>
  <%= icon_block %>
</button>
