<div id="<%= dom_id project_collaborator %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= project_collaborator.account_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= project_collaborator.project_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= project_collaborator.role %>
  </p>

</div>
