<div class="w-full">
  <% content_for :title, "Projects" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Projects</h1>
    <div>
      <%= link_to 'New project', new_project_path, class: 'bg-primary-500 text-white rounded-lg py-2 px-3.5 inline-block font-medium cursor-pointer', data: { turbo_frame: :new_project, turbo_stream: true } %>
      <%= link_to 'Stakeholder Projects', stakeholder_projects_path, class: 'bg-primary-500 text-white rounded-lg py-2 px-3.5 inline-block font-medium cursor-pointer' %>
    </div>

  </div>

  <%= turbo_frame_tag :new_project %>

  <div id="projects" class="min-w-full flex flex-col gap-2.5 my-4">
    <%= components Projects::ProjectComponent, @collaboration_projects %>
  </div>
</div>
