<main class="container">
  <%= link_to sanitize("&larr; Back to projects"), projects_path %>

  <div class="header">
    <h1>New project</h1>
  </div>

  <%= render "form", project: @project %>
</main>
